<div class="page-footer red darken-4">
  <div class="container">
    <div class="row">
      <div class="col s12 m4 l4">
        <span><strong>Clientes</strong></span>
        <ul>
          <li><a href="#" class="grey-text text-lighten-3">En cartelera</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Proximamente</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Preventa</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Escribenos</a></li>
        </ul>
      </div>
      <div class="col s12 m4 l4">
        <span><strong>Visitantes</strong></span>
        <ul>
          <li><a href="#" class="grey-text text-lighten-3">Nosotros</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Salas y formatos</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Terminos y condiciones</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Trabaja con nosotros</a></li>
        </ul>
      </div>
      <div class="col s12 m4 l4">
        <span><strong>Proveedores</strong></span>
        <ul>
          <li><a href="#" class="grey-text text-lighten-3">Linea directa</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Encuesta</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Publicidad</a></li>
          <li><a href="#" class="grey-text text-lighten-3">Eventos</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
      Copyright @ 2019 - Jesùs Atao - Todos los derechos reservados
    </div>
  </div>
</div>
