<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Bogotá</a></li>
  <li><a href="#!">Medellín</a></li>
  <li><a href="#!">Barranquilla</a></li>
  <li><a href="#!">Calí</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">Bogotá</a></li>
  <li><a href="#!">Medellín</a></li>
  <li><a href="#!">Barranquilla</a></li>
  <li><a href="#!">Calí</a></li>
</ul>

<!-- Menu Desktop -->
<nav class="red darken-4">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">
      <img src="./assets/imagenes/logo.png" width="230px" class="responsive-img">
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Inicio</a></li>
      <li><a href="badges.html">Cartelera</a></li>
      <li><a href="badges.html">Promociones</a></li>
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-trigger" href="#!" data-target="dropdown1">
          Ciudades
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
  </div>
</nav>

<!-- Menu mobile -->
<ul class="sidenav red darken-4" id="mobile-demo">
  <li><a class="white-text" href="sass.html">Inicio</a></li>
  <li><a class="white-text" href="badges.html">Cartelera</a></li>
  <li><a class="white-text" href="badges.html">Promociones</a></li>
  <!-- Dropdown Trigger -->
  <li>
    <a class="dropdown-trigger white-text" href="#!" data-target="dropdown2">
      Ciudades
      <i class="material-icons right white-text">arrow_drop_down</i>
    </a>
  </li>
</ul>
