<div class="row blue-grey lighten-4 filter">
  <h6 class="left-align">
    <strong>Compra tus entradas online :D</strong>
  </h6>
  <div class="input-field col s12 m3 l3">
    <select class="browser-default" [(ngModel)]="formFilter.date">
      <option value="" selected>Fecha</option>
      <option *ngFor="let fecha of fechas" [value]="fecha">
        {{ fecha | date: 'longDate' }}
      </option>
    </select>
  </div>
  <div class="input-field col s12 m3 l3">
    <select class="browser-default" [(ngModel)]="formFilter.pelicula">
      <option value="" selected>Película</option>
      <option *ngFor="let pelicula of peliculas" [value]="pelicula.nombre">
        {{ pelicula.nombre }}
      </option>
    </select>
  </div>
  <div class="input-field col s12 m3 l3">
    <select class="browser-default" [(ngModel)]="formFilter.formato">
      <option value="" selected>Formato</option>
      <option *ngFor="let formato of landingPageService.formatos" [value]="formato">
        {{ formato }}
      </option>
    </select>
  </div>
  <div class="input-field col s12 m3 l3">
    <select class="browser-default" [(ngModel)]="formFilter.hora">
      <option value="" selected>Hora</option>
      <option *ngFor="let hora of landingPageService.horas" [value]="hora">
        {{ hora }}
      </option>
    </select>
  </div>
</div>
