<div class="row white">
  <div class="carousel">
      <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/1.png" alt=""></a>
      <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/2.jpeg" alt=""></a>
      <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/3.jpg" alt=""></a>
      <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/4.png" alt=""></a>
      <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/5.jpg" alt=""></a>
      <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/6.jpg" alt=""></a>
      <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/7.jpg" alt=""></a>
      <a href="#" class="carousel-item"><img src="./assets/imagenes/promociones/8.jpg" alt=""></a>
  </div>
</div>
