<app-nav-bar-social></app-nav-bar-social>
<app-navbar-menu></app-navbar-menu>
<app-movies-filter></app-movies-filter>
<app-slides></app-slides>
<app-weekly-billboards></app-weekly-billboards>
<app-premieres></app-premieres>
<app-carousel></app-carousel>
<app-footer></app-footer>
