<div class="slider white">
  <ul class="slides">
      <li><img src="./assets/imagenes/banners/pacific-rim.jpg" alt=""></li>
      <li><img src="./assets/imagenes/banners/Justice_League.jpg" alt=""></li>
      <li><img src="./assets/imagenes/banners/rampage.jpg" alt=""></li>
      <li><img src="./assets/imagenes/banners/SpiderMan.jpg" alt=""></li>
  </ul>
</div>
